[Desktop Entry]
Version=1.0
Type=Application
Name=STL
Comment=
Exec=/home/rd/imports/APPS/STL.sh
Icon=transmission
Path=
Terminal=false
StartupNotify=false
