[Desktop Entry]
Version=1.0
Type=Application
Name=Tramsitter
Comment=
Exec=/home/rd/APPS/liquidsoap.sh
Icon=transmission
Path=
Terminal=false
StartupNotify=false
